/* .biography {
  width: 50%;
} */

.biography h2 {
  color: #b61e60;
  height: 300px;
  font-size: clamp(1.5rem, 10vw, 7rem); 
  margin-top: 0;
  max-width: 500px;
}

.biography-description {
  font-size: clamp(1rem, 2.5vw, 2rem); 
  max-width: 900px;
}

.biography-social-links {
  align-items: center;
  display: flex;
}

.biography-social-links a {
  margin-right: 2rem;
}

.blink {
  animation: blinker 1s step-end infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}