.who_we_are__header {
     display: grid;
     grid-template-columns: 35% 65%;
}

.who_we_are__header .who_we_are__header__text h2 {
     max-width: 21rem;
}

.who_we_are__header .who_we_are__header__text p {
     max-width: 21rem;
}

.who_we_are__header .grid__container {
     margin-top: 6rem;
}

.who_we_are__header .grid__container .grid__items .Card {
     width: 248px;
}

.who_we_are__header .grid__container .grid__items {
     grid-gap: 2rem;
}

.who_we_are__header .grid__container .grid__items>* {
     justify-self: end;
}

/*
 * This is the size where the css grid gets too compact
 */
@media only screen and (max-width: 1536px) {
     .who_we_are__header .grid__container .grid__items {
          grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
     }
}

/*
 * Tablet
 */
@media only screen and (max-width: 1100px) {
     .who_we_are__header {
          grid-template-columns: 1fr;
     }

     .who_we_are__header .who_we_are__header__text p {
          max-width: 100%;
     }

     .who_we_are__header .grid__container {
          margin-top: 1rem;
     }

     .who_we_are__header .grid__container .grid__items {
          grid-template-columns: 1fr;
     }

     .who_we_are__header .grid__container .grid__items .Card {
          width: 100%;
     }

}