.article {
     max-width: 400px;
}

.article a {
     color: #222222;
     text-decoration: none;
}

.article a:hover {
     text-decoration: underline;
}

.article__data {
     align-items: center;
     display: flex;
     font-weight: 600;
     letter-spacing: -0.202941px;
     margin-top: 1.2rem;
}

.article__data p {
     font-size: 0.875rem;
     font-weight: 600;
     text-transform: uppercase;
     margin: 0 0.2rem;
}

.article__image img {
     object-fit: cover;
     min-width: 100%;
     transition: all 0.3s;
}

.article__image {
     box-shadow: 0px 3px 5px rgba(33, 47, 60, 0.292532), 0px 2px 12px rgba(75, 113, 189, 0.282315);
     cursor: pointer;
     overflow: hidden;
     position: relative;
     transition: all 0.2s;
     -webkit-box-shadow: 0px 3px 5px rgba(33, 47, 60, 0.292532), 0px 2px 12px rgba(75, 113, 189, 0.282315);
     -moz-box-shadow: 0px 3px 5px rgba(33, 47, 60, 0.292532), 0px 2px 12px rgba(75, 113, 189, 0.282315);
}

.article__image:hover img {
     transform: scale(1.02);
}

.article__image:hover::after {
     animation-name: fade-in;
     animation-duration: 0.2s;
     align-items: center;
     background: #222222;
     content: "";
     color: white;
     display: flex;
     height: 100%;
     justify-content: center;
     left: 0;
     opacity: 0.6;
     position: absolute;
     text-transform: uppercase;
     top: 0;
     width: 100%;
}

.article__content h1,
.article__content h2,
.article__content h3 {
     font-size: 1rem;
}

/*
 * Tablet
 */
@media only screen and (max-width: 768px) {
     .article__data {
          margin-top: 1.2rem;
     }


     .article__image:hover::after {
          display: none;
     }

}