/*
 * CSS for services container
 */

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
}

.services h2 {
    font-size: 1.875rem;
    line-height: 2.875rem;
    font-weight: 600;
    max-width: 20rem;
}

.services ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
}

.services__links ul li {
    flex: 1 0 50%;
    /* explanation below */
}

.services__links {
    padding-top: 9rem;
}

/*
 * Small Laptop
 */

@media only screen and (max-width: 1024px) {
    .services {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 0;
        padding-top: 6rem;
    }

    .services__links {
        padding-bottom: 5.5rem;
        padding-top: 0;
    }
}

/*
 * large Mobile
 */

@media only screen and (max-width: 555px) {

    .services {
        padding-bottom: 5.375rem;
    }

    .services p {
        max-width: 331px;
    }

    .services h2 {
        font-size: 1.25rem;
        line-height: 150%;
    }

    .services__links {
        padding-bottom: 0;
    }

    .services__links ul {
        flex-direction: column;
    }
}