.contact__form {
     width: 25rem;
}

.contact__form__input {
     display: flex;
     flex-direction: column;
}

.contact__form__input input {
     border: none;
     border-bottom: 2px solid black;
     height: 2rem;
     font-size: 1.2rem;
     outline: none;
     transition: all 0.2s;
}

.contact__form__input input:focus {
     border-bottom: 2px solid #EB5757;;
}

.contact__form__input textarea {
     border: 2px solid black;
     height: 10rem;
     font-family: 'Roboto', sans-serif;
     font-size: 1.2rem;
     margin-bottom: 2rem;
     outline: none;
     padding: 0.5rem;
     resize: none;
}


.contact__form__input textarea:focus {
     border: 2px solid #EB5757;
}

@media only screen and (max-width: 555px) {
     .contact__form {
          width: 100%;
     }     
 }