/*
 * Small Laptop
 */

@media only screen and (max-width: 1150px) {
     .sitewide-hero-image {
          margin-top: 0 !important;
     }
}

/*
  * Mobile
  */

/* @media only screen and (max-width: 550px) {
     .sitewide-hero-image {
          grid-template-areas: "image"
               "text";
          height: 21rem;
     }
} */