.articles__grid {
     display: grid;
     grid-template-areas:
          "A A B D"
          "A A B D"
          "A A C D"
          "A A C D"
          "A A C E"
          "A A C E";
}

.articles__grid>*:not(:first-child) {
     padding-left: 1rem;
}

.articles__grid>*:not(:first-child) h3 {
     font-size: 1rem;
}

.articles__grid .article_0 {
     grid-area: A;
}

.articles__grid .article_1 {
     grid-area: B;
}

.articles__grid .article_2 {
     grid-area: D;
}

.articles__grid .article_3 {
     align-self: end;
     grid-area: C;
}

.articles__grid .article_4 {
     align-self: end;
     grid-area: E;
}

.articles__grid .article_0 img {
     height: 505px;
}

.articles__grid .article_1 img,
.articles__grid .article_4 img {
     height: 208px;
}

.articles__grid .article_2 img,
.articles__grid .article_3 img {
     height: 320px;
}

/*
 * Small Laptop
 */

@media only screen and (max-width: 1024px) {

     .articles__grid {
          display: grid;
          grid-template-areas:
               "A B"
               "A C";
     }

     .articles__grid .article_1 {
          grid-area: B;
     }

     .articles__grid .article_2 {
          grid-area: C;
     }

     .articles__grid .article_3,
     .articles__grid .article_4 {
          display: none;
     }
}

/*
 * Tablet
 */
@media only screen and (max-width: 768px) {

     .articles__grid .article {
          margin-bottom: 2.5rem;
     }

     .articles__grid {
          display: flex;
          flex-direction: column;
     }


     .articles__grid .article {
          padding: 0;
          width: 100%;
     }

     .articles__grid .article img {
          height: 368px;
     }
}