.title_desc_tiles__header {
     display: grid;
     grid-template-columns: 35% 65%;
}

.title_desc_tiles__header .title_desc_tiles__header__text h2 {
     max-width: 21rem;
}

.title_desc_tiles__header .title_desc_tiles__header__text p {
     max-width: 21rem;
}

.title_desc_tiles__header .grid__container {
     margin-top: 6rem;
}

.title_desc_tiles__header .grid__container .grid__items .Card {
     width: 248px;
}

.title_desc_tiles__header .grid__container .grid__items {
     grid-gap: 2rem;
}

.title_desc_tiles__header .grid__container .grid__items>* {
     justify-self: end;
}

/*
 * This is the size where the css grid gets too compact
 */
@media only screen and (max-width: 1536px) {
     .title_desc_tiles__header .grid__container .grid__items {
          grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
     }
}

/*
 * Tablet
 */
@media only screen and (max-width: 1100px) {
     .title_desc_tiles__header {
          grid-template-columns: 1fr;
     }

     .title_desc_tiles__header .title_desc_tiles__header__text h2,
     .title_desc_tiles__header .title_desc_tiles__header__text p {
          max-width: 100%;
     }

     .title_desc_tiles__header .grid__container {
          margin-top: 1rem;
     }

     .title_desc_tiles__header .grid__container .grid__items {
          grid-template-columns: 1fr;
     }

     .title_desc_tiles__header .grid__container .grid__items .Card {
          width: 100%;
     }
}

/*
 * Large Mobile
 */
@media only screen and (max-width: 555px) {
     .title_desc_tiles__header .Card {
          text-align: center;
     }
}