body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

p {
    color: #0E1137;
    font-size: 1rem;
    line-height: 28px;
    opacity: 0.6;
}   

h2 {
    font-size: 1.8vw;
    line-height: 3rem;
}

.orange--text {
    color: #F94322;
}

.open--sans {
    font-family: 'Open Sans', sans-serif;
}

.custom--font--28 h2 {
    font-size: 1.75rem;
}

.custom--font--34 h2 {
    font-size: 2.125rem;
}

.custom--font--64 h1 {
    color: #0e1137;
    font-size: 4rem;
    margin-top: -1rem;
}