body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

p {
    color: #0E1137;
    font-size: 1rem;
    line-height: 28px;
    opacity: 0.6;
}

h2 {
    font-size: 1.8vw;
    line-height: 3rem;
}

.orange--text {
    color: #F94322 !important;
}

.open--sans {
    font-family: 'Open Sans', sans-serif;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    width: 1px;
    overflow: hidden;
    position: absolute !important;
    word-wrap: normal !important;
}