/*
 * General section styles
 */

.section {
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.section_content_test {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}

.section h2 {
    color: #0E1137;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 171%;
}

.section h3 {
    color: #0E1137;
}

.section img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

.blue--background {
    background-color: #F5F9FF;
}


@media only screen and (min-width: 1600px) {
    .section {
        padding: 1.5rem 22vw;
    }
}


/*
 * Tablet
 */

@media only screen and (max-width: 1150px) {
    .section h1 {
        font-size: 2rem;
    }

    .section h2 {
        font-size: 1.4rem;
    }
}

/*
 * Tablet
 */
@media only screen and (max-width: 768px) {
    .section {
        padding: 0 1rem;
    }
}