.article__tab {
     border-bottom: 1px solid #EEEFF2;
     display: flex;
     margin-bottom: 2rem;
}

.article__tab p {
     color: #222222;
     cursor: pointer;
     font-size: 0.875rem;
     font-weight: 600;
     letter-spacing: -0.42px;
     padding: 0.5rem 1rem;
     margin: 0;
}

.article__tab>*:not(:first-child) {
     margin-left: 1rem;
}

.active__tab {
     border-bottom: 4px solid #222222;
     opacity: 1;
}

/*
 * Tablet
 */
@media only screen and (max-width: 555px) {
     .article__tab {
          justify-content: space-around;
     }

     .article__tab>* {
          margin: 0;
     }

     .article__tab p {
          font-size: 0.75rem;
          padding: 0.2rem;

     }
}