.experience {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fit, 450px);
  font-size: clamp(0.8rem, 2vw, 1.5rem); 
  width: 100%;
}

.experience-location {
  color: #b61e60;
}

.experience-date {
  opacity: 0.6;
}