.header__text__image {
     display: grid;
     grid-template-areas: "text image";
}

.header__text__image h2 {
     max-width: 512px;
}

.header__text__image p {
     font-size: 1rem;
     font-weight: normal;
     letter-spacing: -0.070588px;
     line-height: 175%;
     max-width: 467px;
     opacity: 0.6;
}

.header__text__image--image {
     object-fit: cover;
     height: 550px;
     max-width: 500px;
     width: 100%;
}

.header__text__image--left {
     grid-area: text;
}

.header__text__image--right {
     grid-area: image;
}


/*
 * Small Laptop
 */

@media only screen and (max-width: 1024px) {
     .header__text__image {
          grid-template-areas: "image"
               "text";
     }

     .header__text__image h2,
     .header__text__image p {
          max-width: 100%;
     }
}

/*
 * Tablet
 */
@media only screen and (max-width: 768px) {

     .header__text__image h2 {
          margin-top: 4rem;
     }

     .header__text__image--image {
          max-width: 100%;
     }
}


/*
 * Large Mobile
 */

@media only screen and (max-width: 425px) {
     .header__text__image h2 {
          font-size: 1.25rem;
          line-height: 150%;
          margin-top: 19px;
     }

     .header__text__image--image {
          height: 393px;
     }
}