/*
 * General container styles
 */

.container {
    box-sizing: border-box;
    padding: 0 15vw;
    position: relative;
    width: 100%;
}

.container img {
    display: block;
    margin: auto;
    max-width: 500px;
    width: 100%;
    height: auto;
}

.container--two--column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}

.container--two--column div p {
    padding-right: 3rem;
}

.container__tab {
    color: #0E1137;
    left: 8vw;
    position: absolute;
    text-transform: uppercase;
    top: 3rem;
    transform: rotate(-90deg);
}

.container__tab__line {
    background-color: #0E1137;
    display: block;
    height: 1.5rem;
    left: -1.5rem;
    position: absolute;
    top: 1rem;
    transform: rotate(-90deg);
    width: 1px;
}

.blue--background {
    background-color: #F5F9FF;
}

@media only screen and (max-width: 1150px) {
    .container--two--column>*:last-child {
        grid-row: 1;
    }
}

/*
 * Tablet
 */
@media only screen and (max-width: 1150px) {
    .container h1 {
        font-size: 2rem;
    }

    .container h2 {
        font-size: 1.4rem;
    }

    .container--two--column div p {
        padding-right: 0rem;
    }
}

/*
 * Tablet
 */
@media only screen and (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }

    .container--two--column {
        grid-template-columns: auto;
    }

    .container__tab {
        left: 4rem;
        transform: rotate(0deg);
        top: -4rem;
    }
}