/*
 * CSS for contact container
 */

.contact {
     padding: 7.5rem 15vw;
     text-align: center;
}

.contact h2 {
     font-size: 1.875rem;
     line-height: 2.875rem;
}

.contact p {
     color: #574444;
     font-size: 0.875rem;
     font-style: normal;
     font-weight: normal;
     letter-spacing: -0.411765px;
     line-height: 157%;
     margin: 2rem auto;
     max-width: calc(158.65px + 22rem);
     opacity: 1;
}

/* .contact button {
     box-shadow: 0px 2px 20px 0px rgba(249, 67, 34, 0.19);
     -webkit-box-shadow: 0px 2px 20px 0px rgba(249, 67, 34, 0.19);
     -moz-box-shadow: 0px 2px 20px 0px rgba(249, 67, 34, 0.19);
} */

.contact input {
     border: none;
     box-sizing: border-box;
     box-shadow: 0px 4px 8px 0px rgba(198, 212, 232, 0.38);
     font-size: 0.875rem;
     height: 40px;
     line-height: 0.875rem;
     margin-right: 1rem;
     outline: none;
     padding: 1rem;
     width: 21rem;
     -webkit-box-shadow: 0px 4px 8px 0px rgba(198, 212, 232, 0.38);
     -moz-box-shadow: 0px 4px 8px 0px rgba(198, 212, 232, 0.38);
}

.contact input::placeholder {
     color: #574444;
     font-size: 0.875rem;
     opacity: 0.38;
}

/*
 * Tablet
 */

@media only screen and (max-width: 768px) {
     .contact {
          padding: 4rem 1rem;
     }
}


/*
 * Large Mobile
 */

@media only screen and (max-width: 555px) {

     .contact h2 {
          font-size: 1.125rem;
          line-height: 167%;
     }

     .contact p {
          color: #0E1137;
          opacity: 0.6;
     }

     .contact input {
          font-size: 1rem;
          height: 4rem;
          margin-bottom: 1rem;
          width: 100%;
     }

     .contact input::placeholder {
          font-size: 1rem;
     }
}