.blog__body {
	position: relative;
}

.blog__title {
	text-align: center;
}

.blog__data {
	align-items: center;
	border: 2px solid #EEE;
	display: flex;
	font-weight: 600;
	justify-content: center;
	letter-spacing: -0.202941px;
	margin-top: 1.2rem;
	margin-left: auto;
	margin-right: auto;
	width: 5rem;
}

.blog__data p {
	font-size: 0.75rem;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 0.2rem;
}

.blog__social {
	align-items: center;
	display: flex;
}

.blog__social p {
	font-size: 14px;
	font-weight: 600;
	opacity: 1;
	white-space: pre-wrap;
}

.blog__social>*:not(:first-child) {
	margin-left: 1.5rem;
}

.blog__cover--photo img {
	height: 480px;
	object-fit: cover;
	width: 100%;
}

.blogs__show--buton--area {
	display: flex;
	justify-content: center;
}

.blog__tab {
	left: -5rem;
	position: absolute;
	top: 1rem;
	transform: rotate(-90deg);
}

.blog__tab__line {
	background-color: #222222;
	display: block;
	height: 1rem;
	left: -1.5rem;
	position: absolute;
	top: 1.6rem;
	transform: rotate(-90deg);
	width: 1px;
}

.blog__download {
	align-items: center;
	cursor: pointer;
	display: flex;
}

.blog__download p {
	font-weight: 600;
	color: #222222;
	margin-left: 1rem;
	opacity: 0.78;
}

.blog__content > * {
	margin: 2rem 0;
}

.blog__content pre {
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
     -moz-box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.blog__content p {
	opacity: 1;
}

.blog__content ol li {
	color: #222222;
	font-size: 1rem;
	font-weight: normal;
	line-height: 28px;
	opacity: 1;
}

.blog__content p code {
	color: #f87c32;
	font-size: 1.2rem;
}

@media only screen and (max-width: 1250px) {
	.blog__tab {
		left: -1rem;
	}
}

/*
 * Tablet
 */

@media only screen and (max-width: 900px) {
	.blog__body {
		padding: 0;
	}

	.blog__tab {
		left: 2rem;
		top: -4rem;
		transform: rotate(0deg);
	}
}

/*
 * Large Mobile
 */

@media only screen and (max-width: 550px) {
	.blog__body {
		padding: 0;
	}

	.blog__title h2 {
		font-size: 22px;
	}
}