.navbar {
    align-items: center;
    background-color: #FFF;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    height: 6rem;
    padding: 0 15vw;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.navbar__links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar__links li {
    list-style: none;
}

.navbar__links li a {
    color: #0E1137;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    letter-spacing: -0.42px;
    line-height: 28px;
    opacity: 0.74;
    padding-left: 5rem;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s;
}

.navbar__links a:hover {
    opacity: 1;
}

.navbar__links a:hover::after {
    animation-duration: 0.2s;
    animation-name: navlink_line;
    background-color: #0E1137;
    height: 0.5rem;
    content: "";
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: -5rem;
    top: -2.1rem;
    width: calc(100% - 5rem);
}

.navbar__links .orange--text a {
    cursor: pointer;
    color: #F94322;
}

.navbar__links .orange--text :hover::after {
    background-color: #F94322;
}

.navbar__menu__toggle {
    background-color: #FFF;
    border: none;
    cursor: pointer;
    display: none;
    outline: none;
    position: absolute;
    right: 1rem;
}

.navbar__links__dropdown ul {
    display: grid;
}

.navbar__menu__toggle {
    position: absolute;
    top: 2.5rem;
    right: 15vw;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
}

.navbar__menu__toggle .bar {
    height: 3px;
    width: 100%;
    background-color: black;
}


@keyframes navlink_line {
    from {
        width: 0;
    }
    to {
        width: calc(100% - 5rem);
    }
}

@keyframes grow {
    from {
        height: 6rem;
    }
    to {
        height: 28rem;
    }
}

/*
 *  This is the size that the navbar links begin to compress
 */

@media only screen and (max-width: 1273px) {

    .navbar {
        align-items: flex-start;
        box-shadow: 0px 1px 8px -1px rgba(19,19,53,0.2);
        flex-direction: column;
        padding-top: 2rem;
        -webkit-box-shadow: 0px 1px 8px -1px rgba(19,19,53,0.2);
        -moz-box-shadow: 0px 1px 8px -1px rgba(19,19,53,0.2);
        overflow: hidden;
        transition: all 0.2s;
    }

    .grow {
        height: 28rem;
    }

    .navbar__menu__toggle {
        display: flex;
    }

    .inactive {
        display: none;
    }

    .navbar__links .active {
        display: flex;
    }

    .navbar__links .active > .navbar {
        animation-name: grow;
        animation-duration: 0.2s;
        overflow: hidden;
    }

    .navbar__links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar__links ul li a {
        display: block;
        font-size: 1rem;
        margin: 1.5rem 0;
        padding: 0;
    }

    .navbar__links a:hover::after {
        animation-duration: 0.2s;
        animation-name: none;
        background-color: #0E1137;
        height: 0.25rem;
        left: 0;
        margin: 0;
        position: absolute;
        top: 1.8rem;
        width: 100%;
    }
}

@media only screen and (max-width: 1150px) { 
    .navbar {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .navbar__menu__toggle {
        right: 5vw;
    }
}

@media only screen and (max-width: 550px) {
    .navbar {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .navbar__menu__toggle {
        right: 1rem;
    }
} 
