.content {
    margin: 0;
    padding: 6rem 15vw;
}

.content > * {
    margin-top: 5rem;
}

/*
 * Large Mobile
 */
 @media only screen and (max-width: 425px) {
    .content {
        padding: 3rem 1rem;
    }

    .content > *:not(:first-child) {
        margin-top: 8rem;
    }
    
}
