/*
 * CSS for insight container
 */

.insights a {
     color: #0E1137;
     text-decoration: none;
}

.insights a:hover {
     text-decoration: underline;
}


@keyframes fade-in {
     from {
          opacity: 0;
     }

     to {
          opacity: 0.6;
     }
}



.insights__articles__button {
     margin-top: 1rem;
     text-align: center;
}

.technology {
     color: #0057CA;
}

.motivation {
     color: #00A529
}

.business {
     color: #8A008F;
}



/*
 * Tablet
 */
@media only screen and (max-width: 768px) {
     .insights__header h2 {
          font-size: 1.25rem;
          line-height: 150%;
     }
}